
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100%;
}

#navbar {
    display: grid;
    justify-content: space-between;
    grid-template-columns: 1fr 1fr 1fr;
    
    margin: 0;
    padding: 0;
    top: 0;
    left: 0;
    width: 100%;
    height: 6vh;
    background-color: #444;
}

#navbar button {
    background-color: #555;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
    height: 100%;
}

#navbar button:hover {
    background-color: #666;
}

#navbar > .title {
    align-content: center;
    font-weight: bold;
    color: white;
    text-align: center;
    align-items: center;
}

#main-container {
    display: grid;
    grid-template-columns: 20% 80%;

    height: 94vh;
}

#toolbar {
    display: flex;
    flex-direction: column;
    gap: 5px;
    
    padding: 10px 20px;
    background-color: #353535;
    color: white;
    overflow-x: auto;
    border-right: 1px solid #555;
}

#toolbar button {
    color: white;
    background-color: #555;
    border: none;
    padding: 10px 10px;
    cursor: pointer;
    font-size: 14px;
    margin: 0 25px;
    border-radius: 5px;
}

#toolbar button:hover {
    background-color: #666;
}

#toolbar hr {
    border: 1px solid #555;
    margin: 10px 0;
}

#color-channels {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#canvas-container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #353535;
    padding: 10px;
    overflow: auto;

    & canvas {
        border: 1px solid black;
        background-color: #fff;
        cursor: crosshair;
    }
}

.hidden {
    display: none;
}

#histogram-container {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 400px;
    padding: 20px;
    background-color: #353535;
    border: 1px solid #666;
    border-radius: 5px;
}